* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.bg-custom-color {
  background-color: #F44E52;
}

.active {
  color: #F44E52;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.default {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}