* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.bg-custom-color {
  background-color: #FF6B15;
}

.bg-custom-color-light {
  background-color: #FF6B15;
  filter: brightness(90%);
}


.my-button {
  background-color: #FF6B15;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.my-button:hover {
  background-color: #FF6B15;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid goldenrod;
}

.s-button {
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
}

.active {
  color: #FF6B15;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.active:hover {
  color: #FF6B15;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.default {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.default:hover {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.profile-image-div {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 2px solid #FF6B15;
}

.about {
  margin: 0;
  text-align: justify;
}