* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.bg-custom-color {
  background-color: #FF6B15;
}

.bg-custom-color-light {
  background-color: #FF6B15;
  filter: brightness(90%);
}


.my-button {
  background-color: #FF6B15;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.my-button:hover {
  background-color: #FF6B15;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.active {
  color: #FF6B15;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.active:hover {
  color: #FF6B15;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.default {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.default:hover {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 1.2rem;
  text-decoration: none;
}